* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {  
  line-height: 1.6;  
  list-style: none;
}

.swiper1-bg {
  background: url('../public/swiper1bg.png') no-repeat;
}